service: sls-cicd

plugins: -serverless-offline
provider:
  name: aws
  runtime: nodejs8.10
  region: us-east-1
  stage: ${ssm:/CodeBuild/EnvName}
  iamRoleStatements:
    - Effect: "Allow"
      Action: "ssm:GetParameters"
      Resource:
        - "arn:aws:ssm:us-east-1:*:parameter/*"

functions:
  hello:
    handler: handler.logger
